.logo1{
    width:200px;
}
.form-container{
 box-shadow: 0 0 10px rgba(black);
 margin:10px;
}
.form-container h1{
  font-size: 20px;
  margin-left: 20px;
}
.btn-primary{
  margin-left:20px;
}
.modal-body clientes{
  display: inline-block;
}

.tabla{
  background-color:white;
  text-align:left;
  border-collapse:collapse;
  width:95%;
  margin-left: 20px;
}
th,td{
  border: solid 1px black;
  padding:0;
}
th{
  background-color: rgb(176, 186, 245);
  border-bottom: solid 5px rgb(112, 188, 233);
  color:rgb(0, 0, 0);
}
