.recursos-box, .recursos-box2, .recursos-box3, .recursos-box4, .recursos-box5, .recursos-box6{
    display: none;
    margin-bottom: 10%;
    margin-top: -2%;
}
.recursos-box7, .recursos-box8, .recursos-box9, .recursos-box10, .recursos-box11{
    display: none;
}

