*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo1{
    width:150px;
}
.login-container{
    width: 500px;
    height: 400px;
    margin:auto;
    margin-top: 180px;
    box-shadow: 7px 13px 37px ;
    padding: 20px 30px;
}
.header h5{
    margin:0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
}
.login b{
    font-size:20px;
}
.login{
    text-align:center;
}
.textfield{
    width:300px;
    border: 1px solid;
    padding:11px 10px;
}
.ingresar{
    width:250px;
    height:40px;
    background: rgb(116, 100, 100);

    margin-top: 10px;
}